@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);

  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);

  --font-sans: "Open Sans", sans-serif;
  --font-pop: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.app-container {
  padding: 4rem 16rem;
  color: var(--very-dark-cyan);
  /* background-color: var(--very-pale-blue); */
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-pop);
}

.btn {
  background: none;
  border: none;
  border-radius: 0;
  display: block;
  cursor: pointer;
}

.btn-pink {
  background-color: var(--pink);
  color: var(--very-pale-blue);
  padding: 2rem 8rem;
  border-radius: 1000px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.3px;
}

.btn-white {
  background-color: var(--very-pale-blue);
  color: var(--pink);
  border: 1px solid currentColor;
  border-radius: 1000px;
  padding: 1rem 3.3rem;
  transition: all 0.2s;
}
.btn-white:hover {
  filter: brightness(220%);
  transform: scale(1.1);
}
.btn-white:active {
  filter: brightness(100%);
  transform: scale(0.98);
}

.main-section:nth-child(odd) .content {
  order: 2;
}
